<div class="container-fulied">
  <div class="row">
    <div class="col-md-5">
      <div><%= image_tag "ROGO1.jpg", :size => "790x500" %></div>
      <table class="table">
        <tr>
          <h2>ジャンル検索</h2>
        </tr>
          <%= form_with url: public_genre_search_path, method: :get do |f| %>
        <tr><% @genres.each do |genre| %>
          <td><%= link_to genre.name, public_genre_search_path(genre_id: genre.id), method: :get %></td>
        </tr>
          <% end %>
        <% end %>
      </table>
    </div>
    <div class="col-md-7">
      <h1>焼き鳥、サイドメニュー一覧(最新6件)</h1>
      <div class="container">
        <div class="row">
        <% @yakitoris.first(6).each do |yakitori| %>
        <table>
          <% if yakitori.image.attached? %>
            <th><%= image_tag yakitori.image, size: '200x180' %></th>
          <% else %>
            <th><%= image_tag 'no_image.jpg', size: "200x180" %></th>
          <% end %>
            <th><%= link_to yakitori.name, public_yakitori_path(yakitori) %></th>
            <th><%= yakitori.genre.name %></th>
          <% end %>
        </table>
          <p calss="text-align:center"><%= image_tag "yakitori1.png", :size => "800x500" %></p>
      </div>
    </div>
  </div>
</div>

