<!DOCTYPE html>
<html>
  <head>
    <title>Grillbird</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/0e1ec59f06.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
</html>

<body class="d-flex flex-column">
    <%= render 'layouts/header' %>
<main class="flex-grow-1">
  
        <div class="d-flex justify-content-center mb-2">
          
      <% if customer_signed_in? %>
    <div class="search_form">
      <%= form_with url: public_search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word %>
      <%= f.select :range, options_for_select([['会員'], ['焼き鳥']]) %>
      <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
      <%= f.submit "検索", class: "btn-sm btn-primary" %>
    <% end %>
  </div>
<% end %>
          
        </div>
      <%= yield %>
    </main>
    <footer class="fixed-bottom">
      <div style="background-color: gray;">
        <div class="container">
          <div class="row">
            <div class="col">
              <p class="text-center">yakitoris</p>
            </div>
            
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>