<!DOCTYPE html>
<html>
  <head>
    <title>Grillbird</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/0e1ec59f06.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
</html>

<body class="d-flex flex-column">
    <%= render 'layouts/header' %>


  <main class="flex-grow-1">
   <%= yield %>
  </main>



      <div style="background-color: gray;">
        <div class="container">
          <div class="row">
            <div class="col">
              <h1 class="text-center"><%=link_to "Yakitori",new_admin_session_path%></h1>
            </div>
          </div>
        </div>
      </div>
    </body>
  </html>